h1 {
        color: #3f51b5;
        font-size: 2.5rem;
      }
      p {
        color: #333;
        font-size: 1rem;
      }

h2 {
  color: #1a237e;
  font-size: 1.8rem;
}

h3 {
  color: #303f9f;
  font-size: 1.4rem;
}

h4 {
  color: #5c6bc0;
  font-size: 1.2rem;
}

a {
  color: #3f51b5;
}