body {
    background-image: linear-gradient(to bottom, var(--primary-bg), #f8f9fa);
}

.experience-item:hover {
    background-color: #f5f7ff;
}

h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1.5em;
    }